:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.view {
  display: none;
}

.view.active {
  display: flex;
}

.view {
  display: none;
}

main.view.active {
  display: block;
}

section.view.active {
  display: flex;
}

body {
  margin: 0;
  padding: 24px;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
  background: #eeeeee;
  color: #101011;
}

.header,
main {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

/* =========================
   Header
========================= */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#left-side-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#left-side-container img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

#title {
  margin: 0;
}

#right-side-container {
  width: 200px;
  height: 40px;
  padding: 5px;

  border: 1px solid #dfdede;
  background-color: #ece9e9;
  border-radius: 15px;

  display: flex;
  align-items: center;
}

#status {
  display: flex;
  align-items: center;
  gap: 5px;
}

#status img {
  width: 20px;
  height: 20px;
}

#day-streak {
  font-weight: bold;
}

/* =========================
   Statistics
========================= */

.status-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.status-details-container {
  width: 100%;
  height: 70px;
  padding: 15px;

  border: 1px solid #dfdede;
  background-color: #ece9e9;
  border-radius: 20px;
}

.status-details-container p,
.status-details-container h3 {
  margin: 0;
}

.word-number {
  font-weight: bolder;
}

.due-words {
  color: blue;
}

.total-words {
  color: black;
}

.mastered-words {
  color: green;
}

.streak-words {
  color: red;
}

/* =========================
   Review
========================= */

.review-container {
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #e4e2e2;
  box-shadow: 0 4px 10px #aaa8a8;
  margin-bottom: 20px;

  text-align: center;
}

.no-word-review {
  height: 300px;
  padding: 30px;
}

.no-word-review img {
  width: 150px;
  height: 150px;
}

.found-word-review {
  height: 150px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side-word-review {
  margin-left: 0;
  text-align: left;
  line-height: 1.6;
}

.num-words {
  font-weight: bolder;
}

/* =========================
   Buttons
========================= */

button:hover {
  cursor: pointer;
}

.global-btn {
  width: 180px;
  height: 50px;

  border: none;
  border-radius: 50px;

  background-color: rgba(5, 5, 207, 0.741);
  box-shadow: 0 4px 10px gray;
  color: white;

  transition: background-color 0.3s ease;
}

.global-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 162, 0.702);
}

button[type="submit"] {
  width: 150px;
  align-self: flex-end;
}

/* =========================
   Add Word
========================= */

.header-add-word {
  margin: 0 0 10px;
  color: #8b9299;
}

.add-word-form {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-word-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.add-word-container input:last-child {
  grid-column: 1 / -1;
}

input {
  width: 100%;
  height: 54px;
  padding: 0 20px;

  background-color: #f1f3f5;
  border: 1px solid #dfe3e6;
  border-radius: 14px;

  font-size: 16px;
  color: #333;

  outline: none;
}

input::placeholder {
  color: #8b9299;
}

input:focus {
  outline: 2px solid rgba(98, 98, 197, 0.825);
}

/* =========================
   Deck
========================= */

.decks-container {
  background-color: transparent;
}

.deck {
  min-height: 70px;
  padding: 15px 20px;

  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px;
  background-color: #d8d8ee;
  border-radius: 10px;
}

.deck-info {
  flex: 1;
  min-width: 0;

  text-align: left;
  line-height: 1.6;
}

.deck-info h4 {
  margin: 0;
}

.deck-info small {
  color: #666666;
}

.level {
  width: 180px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  gap: 10px;
}

.level-progress {
  width: 100px;
  height: 7px;

  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.review-progress-bar {
  width: 680px;
  height: 7px;

  border: none;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  display: block;
}

progress::-webkit-progress-bar {
  background-color: #b5b9bd;
}

progress::-webkit-progress-value {
  background-color: #4c5bea;
  border-radius: 10px;
}

.delete-card {
  flex: 0 0 36px;

  width: 36px;
  height: 36px;

  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  color: #888;

  border: 1px solid #a4a2a2;
  border-radius: 50%;

  font-size: 20px;
  line-height: 1;

  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
}

.delete-card:hover {
  background-color: #f5f5f5;
  color: #d33;
  border-color: #d3d3d3;
}

/* =========================
   States
========================= */

.found-word-review {
  display: none;
}

.has-words .no-word-review {
  display: none;
}

.has-words .found-word-review {
  display: flex;
}

/* card content */
.review-session {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 24px 0;

  /* changing in js to display: flex */
  display: none;

  flex-direction: column;
}

.review-session.active {
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;

  z-index: 1000;

  background-color: #eeeeee;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 24px;
}

.flashcard {
  width: 100%;
  max-width: 700px;
  height: 500px;
  margin: 50px auto 0;

  perspective: 1000px;
  cursor: pointer;
}

.end-review {
  position: relative;
  border: none;
  background: transparent;
  color: #0b0a0a;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 4px;
  margin-left: 20px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  transition: color 0.25s ease;
}

.end-review::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(89, 89, 93);
  transition: width 0.25s ease-in-out;
}

.end-review:hover {
  color: #414143;
}

.end-review:hover::after {
  width: 100%;
}

.review-header {
  width: 100%;
  max-width: 700px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.flashcard.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  inset: 0;

  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 25px;
  border: 1px solid #ddd;

  backface-visibility: hidden;
}

.card-front {
  background-color: white;
}

.card-back {
  background-color: #eef2ff;
  transform: rotateY(180deg);
}

/* front content */

.card-label {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #777;
}

.card-word,
.card-meaning {
  margin: 0 0 20px;

  font-size: 48px;
  font-weight: 700;
}

.listen-button {
  width: auto;
  height: auto;

  padding: 8px 16px;

  background: white;
  border: 1px solid #ddd;
  border-radius: 999px;

  box-shadow: none;
}

.card-hint {
  position: absolute;
  bottom: 30px;

  color: #999;
}

/* back content */

.card-meaning {
  color: #4c5bea;
}

.card-example {
  margin: 0 0 30px;

  color: #777;
  font-style: italic;
  text-align: center;
}

/* button review */

.review-actions {
  position: absolute;
  bottom: -70px;

  width: 100%;

  display: flex;
  gap: 15px;
}

.review-actions button {
  flex: 1;
  width: auto;
  margin: 0;
}

.still-learning {
  background-color: #f5d0d0;
  color: rgb(136, 9, 9);
}

.knew-it {
  background-color: #00a859;
  color: white;
}

.still-learning,
.knew-it {
  padding: 15px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 10px rgb(135, 133, 133);
  transition: background-color 0.3s ease;
}

.still-learning:hover {
  background-color: rgb(220, 156, 156);
}
.knew-it:hover {
  background-color: green;
}

/* starting in final status for reviewing */

.review-complete {
  display: none;

  width: 100%;
  max-width: 700px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 50px 20px;

  flex-direction: column;
  align-items: center;
  text-align: center;
}

.review-complete.active {
  display: flex;
}

.review-complete > img {
  width: 230px;
  height: 230px;
  object-fit: contain;
  margin-bottom: 20px;
}

.review-complete h2 {
  margin: 0 0 10px;
  font-size: 32px;
  font-weight: 700;
}

.review-complete > p {
  margin: 0 0 30px;
  font-size: 16px;
  color: #6b7280;
}

.review-complete > p span {
  font-weight: 700;
}

.recall-percent {
  color: #00a859;
}

.session-stats {
  width: 100%;
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.known-stat,
.learning-stat {
  flex: 1;
  min-height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  border: 1px solid;
}

.known-stat {
  background-color: #dcfce7;
  border-color: #86efac;
}

.learning-stat {
  background-color: #ffe7e7;
  border-color: #ffb4b4;
}

.known-stat strong,
.learning-stat strong {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}

.known-stat strong {
  color: #00a859;
}

.learning-stat strong {
  color: #ef4b5f;
}

.known-stat span,
.learning-stat span {
  color: #6b7280;
  font-size: 14px;
}

.back-to-deck {
  width: 155px;
  height: 52px;

  margin: 0;

  background-color: #4c5bea;
  color: white;

  border: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.back-to-deck:hover {
  background-color: #3f4bd1;
}
